$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.template {
  border-color: green;
  border-style: groove;
  text-align: center;
  width: auto;
}
